body{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

section header{
    background: #f6f6f6;
    padding: 3px;
    border-bottom: 2px solid #777;
}

form{

}

form > div{
    padding-top: 8px;
}

form label{
    display: inline-block;
    width: 8em;
    text-align: right;
}

form input[type="text"]{
    height: 2em;
}

form input[type="submit"]{
    margin-left: 8.6em;
    width: 8em;
    height: 2em;
}

form label:after{
    content: ":";
}

table{
    width: 100%;
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
}

tr{
    height: 2em;
}

th, td{
    border: 1px solid #e4e4e4;
    padding: 8px;
}